<!DOCTYPE html>

<html>

<head>
    <title>Contact List App</title>
    <link rel="icon" href="/img/thinkingTesterIcon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>{{title}}</h1>
    <div class = "welcome-message">
        Welcome! This application is for testing purposes only. The database will be purged as needed to keep costs down.
    </div>
    <div class = "welcome-message">
        The API documentation can be found <a href="https://documenter.getpostman.com/view/4012288/TzK2bEa8">here</a>.
    </div>
    <div class="main-content">
        <p>Log In:</p>
        <span id="error"></span>
        <form>
            <p>
                <input id="email" placeholder="Email">
            </p>
            <p>
                <input id="password" type="password" placeholder="Password">
            </p>
            <p>
                <button id="submit">Submit</button>
            </p>
        </form>
        <p>Not yet a user? Click here to sign up!</p>
        <button id="signup" onclick="location.href='/addUser'">Sign up</button>
    </div> 
    {{>footer}}
    <script src="/js/login.js"></script>
</body>

</html>