<!DOCTYPE html>

<html>

<head>
    <title>Contact List App</title>
    <link rel="icon" href="/img/thinkingTesterIcon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/logout.js"></script>
</head>

</html>